.ship {
  display: flex;
}
.sf_mh,
.sf_mv,
.sf_ptb,
.sf_ptr,
.sf_sfl,
.sf_sft {
  box-sizing: border-box;

  height: calc(var(--cell-size) - 1px);
  width: calc(var(--cell-size) - 1px);
}
.sf_mv {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  background-color: #555;
}

.sf_mh {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background-color: #555;
}

.sf_sfl {
  border: 1px solid grey;
  border-right: none;
  border-radius: 5px 0 0 5px;
  background-color: #555;
}

.sf_sft {
  border: 1px solid grey;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background-color: #555;
}

.sf_ptr {
  box-sizing: border-box;
  border-top: calc(var(--cell-size) / 2) solid transparent;
  border-bottom: calc(var(--cell-size) / 2) solid transparent;
  border-left: calc(var(--cell-size) / 2) solid grey;
}

.sf_ptb {
  box-sizing: border-box;
  border-top: calc(var(--cell-size) / 2) solid grey;
  border-right: calc(var(--cell-size) / 2) solid transparent;
  border-left: calc(var(--cell-size) / 2) solid transparent;
}
